/* Estilos gerais */
@import 'custom';

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

.container {
    max-width: 850px;
    margin-top: 5rem;
    /* Espaço superior para o container */
}

/* Estilos para a página de boas-vindas */
.welcome-page {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}

.welcome-content {
    padding: 20px;
}

.welcome-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.welcome-description {
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 0;
}

/* Estilos para a página de arquivos */
.archive-page {
    background-color: #f8f9fa;
    padding-top: 40px;
}

/* Estilos específicos para os cartões na página de arquivos */
.archive-page .archive-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    height: 300px;
    /* Define a altura fixa para todos os cartões */
    border: none;
    /* Remove a borda padrão */
    background-color: #fff;
    /* Garante que o fundo do cartão seja branco */
    border-radius: 8px;
    /* Adiciona bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adiciona sombra */
}

/* Ajusta a altura das imagens para se encaixar dentro do cartão */
.archive-page .card-img-top {
    width: 100%;
    height: 150px;
    /* Define a altura fixa para as imagens */
    object-fit: cover;
    /* Faz com que a imagem cubra o espaço disponível sem distorção */
    margin-bottom: 10px;
    /* Adiciona espaçamento inferior às imagens */
}

/* Ajusta o corpo do cartão para preencher o espaço restante */
.archive-page .card-body {
    padding: 0.5rem;
    flex-grow: 1;
    /* Faz com que o corpo do cartão ocupe o espaço restante */
}

/* Ajusta o texto do cartão */
.archive-page .card-text {
    font-size: 0.875rem;
    margin-bottom: 0;
}

/* Estilos para a mensagem quando não há posts */
.archive-page .no-posts {
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
    color: #888;
}

.form-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.form-input {
    max-width: 300px;
}

.form-textarea {
    margin-bottom: 10px;
}

.form-button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/* Estilos gerais */
.form-group {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 8px;
    background: linear-gradient(135deg, #e0e0e0, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.post {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.5em;
    text-transform: lowercase;
}

.date {
    font-size: 12px;
    color: #888;
    margin-bottom: 15px;
}

.post-body {
    font-size: 14px;
    color: #333;
    margin: 0 0 1em;
}

.audio-player {
    width: 100%;
    margin-bottom: 20px;
}

/* Estilos para os posts na página de índice */
.post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.post .date {
    font-size: 0.875rem;
    color: #888;
    margin-bottom: 0.5rem;
}

.post .post-body {
    font-size: 1rem;
    color: #333;
}

.post .audio-player {
    margin-top: 1rem;
}
